.addcenter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foricon{
    border: 1px solid  #ffb822;
    /* padding: 5px; */
    padding-top: 2.5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
    margin-bottom: 1.4rem;
}
.foriconblock{
  border: 1px solid  #282a3c;
  /* padding: 5px; */
  padding-top: 2.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50px;
  margin-bottom: 1.4rem;
}
.foriconempty{
  border: 1px solid  #1dc9b7;
  /* padding: 5px; */
  padding-top: 2.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50px;
  margin-bottom: 1.4rem;
}
.martop{
  margin-top:3px;
  /* text-align: center; */
}
.forcolor{
  color: rgb(255, 255, 255);
}
