.nav-pills.nav-pills-sm .nav-item .nav-link {
    font-size: 0.9rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 13px;
}
.bed-hover:hover{
    background: lightskyblue;
    color: rgb(250, 235, 235);
    border-radius: 5px;
}
.bed{
    padding-left:10px;
    padding-right:10px;
}
.bedd{
    padding-left: 2px;
    padding-right:10px;
}
h3 {
    /* font-size: 1.75rem; */
    font-size: 1.1rem;
    font-weight: 500;
    color: #595d6e;
}