.view_detail_body{
    margin-top:10px;
    margin-left:10px;
}
.view_detail{
    border:1px solid #F4F3F8;
    border-radius:15px;
    background: #F4F3F8;
}
.btn_border-radius{
    border-radius:10px;
}
.flex-container {
  display: flex;
}
.div1 {
  width: 100px;
  padding-top: 10px;
  text-align: center;
  font-size:50px; 
  text-align: center;
}
.div2{
  width: 300px;
}
.kt-widget24 {
  padding: 10px;
}
.box{
  display: flex;
  font-size: 1.1rem;
  font-weight: 200;
  color: #595d6e;
}
.inside{
  padding: -2rem !important;
}
.bed{
  margin-right: 25px;
  padding-top:10px;
}
#show{
  display: none;
}
.show-none:hover #show{
  display: block;
}
.float-right{
  float:right;
}
.modal-popup-btn{
  float:right; 
  padding-top:4px;
}